{% extends "dash/base.html" %}

{% block title %}Dashboard - Menu{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_div }}
        <input type="submit" value="Submit">
    </form>
{% endblock %}

{% block script %}
    <script>
        const app = Vue.createApp({
            delimiters: ["[[", "]]"],
            data() {
                return {
                    activeMenu: 'menu',
                    collapsed: localStorage.getItem("collapsed") === 'true',
                }
            },
            methods: {
                changeCollapsed: function () {
                    this.collapsed = !this.collapsed
                    localStorage.setItem("collapsed", this.collapsed)
                },
            }
        })

        app.use(TDesign)
        app.mount('#app');
    </script>
{% endblock %}