{% extends "dash/base.html" %}

{% block title %}Dashboard - Menu{% endblock %}

{% block content %}
    <t-space direction="vertical">
        <t-space>
            <t-button theme="primary" href="{% url 'dash:new_menu' %}">
                <template #icon>
                    <t-icon name="add"/>
                </template>
                新建
            </t-button>
        </t-space>
        <t-table ref="table" row-key="index" table-layout="fixed" :columns="columns" :max-height="maxHeight" :data="apps"
                 :pagination="pagination" :filter-value.sync="filterValue" @filter-change="onFilterChange"
                 :header-affixed-top="headerAffixedTop" lazy-load>
            <template #operation="{ row }">
                <t-space>
                    <t-link theme="primary" :href="row.edit_url">
                        编辑
                    </t-link>
                    <t-link theme="danger" :href="row.del_url">
                        删除
                    </t-link>
                </t-space>
            </template>
        </t-table>
    </t-space>
{% endblock %}

{% block script %}
    <script>
        const messages = [
            {% for message in messages %}
                {
                    level: "{{ message.level }}",
                    msg: "{{ message }}",
                    tags: "{{ message.tags }}",
                },
            {% endfor %}
        ]
        const columns = [
            {colKey: 'id', title: 'ID'},
            {
                colKey: 'name', title: 'Name', filter: {
                    type: 'input',
                    resetValue: '',
                    // 按下 Enter 键时也触发确认搜索
                    confirmEvents: ['onEnter'],
                    props: {
                        placeholder: '输入关键词过滤',
                    },
                },
            },
            {colKey: 'app', title: 'Application'},
            {colKey: 'create_date', title: 'Create At'},
            {colKey: 'operation', title: 'Operation', fixed: 'right'},
        ]

        const apps = [
            {% for app in menus %}
                {
                    "id": "{{ app.pk }}",
                    "name": "{{ app.name }}",
                    "app": "{{ app.app.name }}",
                    "create_date": "{{ app.create_date | date:'c' }}",
                    "del_url": "{% url "dash:del_menu" app.pk %}",
                    "edit_url": "{% url "dash:detail_menu" app.pk %}",
                },
            {% endfor %}

        ]
        const app = Vue.createApp({
            delimiters: ["[[", "]]"],
            data() {
                return {
                    activeMenu: 'menu',
                    maxHeight: 500,
                    collapsed: localStorage.getItem("collapsed") === 'true',
                    columns: columns,
                    apps: apps,
                    filterValue: {},
                    headerAffixedTop: {
                        offsetTop: 80,
                    }
                }
            },
            computed: {
                pagination() {
                    return {
                        total: this.apps.length,
                        defaultCurrent: 1,
                        defaultPageSize: 14,
                        showJumper: true,
                        showPageSize: false,
                    }
                }
            },
            mounted() {
                this.setTableHeight()
                window.addEventListener("resize", this.setTableHeight);
                if (messages.length) {
                    messages.forEach(m => {
                        this.$message(m.tags, m.msg)
                    })
                }
            },
            unmounted() {
                window.removeEventListener("resize", this.setTableHeight);
            },
            methods: {
                setTableHeight() {
                    const rect = document.querySelector('main.t-layout__content>div')?.getBoundingClientRect()
                    this.maxHeight = rect['height']
                },
                changeCollapsed: function () {
                    this.collapsed = !this.collapsed
                    localStorage.setItem("collapsed", this.collapsed)
                    this.setTableHeight()

                    // TODO: not work
                    // header-affixed-top effect table width
                    this.$refs.table.refreshTable()
                },
                onFilterChange(filters, ctx) {
                    this.filterValue = filters;
                    this.apps = _.filter(apps, item => _.includes(item.name, _.get(filters, 'name', '')))
                },

            }
        })

        app.use(TDesign)
        app.mount('#app');
    </script>
{% endblock %}