{% extends "dash/base.html" %}

{% block content %}
    <t-table row-key="index" table-layout="auto" :columns="columns" :max-height="maxHeight" :data="apps" lazy-load>
        <template #operation="{ row }">
            <t-space>
                <t-link :theme="row.pub_date?'warning':'success'" :href="row.pub_url" :prefix-icon="renderPrefixIcon">
                    [[ row.pub_date ? 'UnPublish' : 'Publish' ]]
                </t-link>

                <t-link theme="danger" :href="row.del_url">
                    Delete
                </t-link>
            </t-space>
        </template>
    </t-table>
{% endblock %}

{% block script %}
    <script>
        const messages = [
            {% for message in messages %}
                {
                    level: "{{ message.level }}",
                    msg: "{{ message }}",
                    tags: "{{ message.tags }}",
                },
            {% endfor %}
        ]
        const columns = [
            {colKey: 'id', title: 'ID'},
            {colKey: 'name', title: 'Name'},
            {colKey: 'desc', title: 'Description'},
            {colKey: 'pub_date', title: 'Publish At'},
            {colKey: 'create_user', title: 'Create By'},
            {colKey: 'create_date', title: 'Create At'},
            {colKey: 'operation', title: 'Operation', fixed: 'right'},
        ]

        const apps = [
            {% for app in apps %}
                {
                    "id": "{{ app.pk }}",
                    "name": "{{ app.name }}",
                    "desc": "{{ app.desc }}",
                    "pub_date": "{{ app.pub_date | date:'c' }}",
                    "create_user": "{{ app.create_user.username }}",
                    "create_date": "{{ app.create_date | date:'c' }}",
                    "del_url": "{% url "dash:del_app" app.pk %}",
                    "pub_url": "{% url "dash:pub_app" app.pk %}",
                },
            {% endfor %}

        ]
        const app = Vue.createApp({
            delimiters: ["[[", "]]"],
            data() {
                return {
                    activeMenu: 'app',
                    maxHeight: 500,
                    collapsed: true,
                    columns: columns,
                    apps: apps
                }
            },
            mounted() {
                this.setTableHeight()
                window.addEventListener("resize", this.setTableHeight);
                if (messages.length) {
                    messages.forEach(m => {
                        this.$message(m.tags, m.msg)
                    })
                }
            },
            unmounted() {
                window.removeEventListener("resize", this.setTableHeight);
            },
            methods: {
                setTableHeight() {
                    const rect = document.querySelector('main.t-layout__content>div')?.getBoundingClientRect()
                    this.maxHeight = rect['height']
                },
                changeCollapsed: function () {
                    this.collapsed = !this.collapsed
                    this.setTableHeight()
                }
            }
        })

        app.use(TDesign)
        app.mount('#app');
    </script>
{% endblock %}