{% extends "dash/base.html" %}

{% block title %}Dashboard - Page{% endblock %}

{% block style %}
    {% include "common/editor.html" %}
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            {{ form.content.label_tag }}
            <div id="editor" style="width: 80vw"></div>
        </div>
        <input type="button" value="Submit" @click="beforeSubmit">
    </form>
{% endblock %}

{% block script %}

    <script>

        let editor = null
        const app = Vue.createApp({
            delimiters: ["[[", "]]"],
            data() {
                return {
                    activeMenu: 'page',
                    collapsed: localStorage.getItem("collapsed") === 'true',
                    contentEl: null,
                    editorEl: null
                }
            },
            mounted() {
                this.contentEl = document.getElementById('id_content')
                this.contentEl.parentNode.style.display = 'none'

                this.editorEl = document.querySelector('#editor')

                editor = monaco.editor.create(this.editorEl, {
                    value: this.contentEl.value,
                    language: 'html'
                });

                this.resizeEditor()
                window.addEventListener('resize', this.resizeEditor)
            },
            unmounted() {
                window.removeEventListener('resize', this.resizeEditor)
            },
            methods: {
                changeCollapsed: function () {
                    this.collapsed = !this.collapsed
                    localStorage.setItem("collapsed", this.collapsed)

                    this.resizeEditor()
                },
                beforeSubmit() {
                    this.contentEl.value = editor.getValue()

                    document.querySelector('form').submit()
                },
                resizeEditor() {
                    this.editorEl.style.height = document.querySelector('main.t-layout__content>div')?.getBoundingClientRect()['height'] * .7 + 'px'
                    editor.layout()
                }

            }
        })

        app.use(TDesign)
        app.mount('#app');
    </script>
{% endblock %}