<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>ZXC{% block title %} - ALL APP{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/atomizer.css' %}">
    {% include "common/font.html" %}

    {% block mainStyle %}
    {% endblock %}

    {% block style %}
    {% endblock %}

    {% block link %}
    {% endblock %}
</head>
<body class="M(0) Lts(.05em) Ff(mainFont)">
<div class="W(100vw) H(100vh)">
    <header class="H(30px) C(#fff) Bg(#000) D(f) Jc(sb) Ai(c) Px(1vw)">
        {% block headerTitle %}
            <span>ZXC</span>
        {% endblock %}
        <div>
            {% block headerBtn %}{% endblock %}
            {% if user.is_authenticated %}
                <a class="C(#fff) Td(n) Td(u):hover" href="{% url 'dash:index' %}">{{ "后台管理" | upper }}</a>
                <a class="C(#fff) Td(n) Td(u):hover" href="{% url 'logout' %}">{{ user.username | upper }}(退出)</a>
            {% endif %}
        </div>
    </header>

    <main class="D(f) H(mainHeight)">

        {% block menu %}
            <nav class="W(200px)">
            </nav>
        {% endblock %}


        {% block content %}
            <div id="app">
                Hi {{ user.username }}
            </div>
        {% endblock %}

    </main>

</div>


{% block script %}
{% endblock %}
</body>
</html>