{% extends 'app/base.html' %}
{% block menu %}{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
    {% if apps %}
        <div class="D(f) Flw(w) Px(20px) Py(40px)">
            {% for app in apps %}
                <a class="W(350px) C(#000) Td(n) Px(8px) Py(10px)" href="{% url 'detail' app.id %}">
                    <div class="Fz(20px) Lh(24px) Fw(br)">{{ app.name }}({{ app.id }})</div>

                    <div class="Fz(16px) Lh(22px) C(#333)"><span class="Fw(br)">创建时间:</span> {{ app.create_date }}</div>
                    <div class="Fz(16px) Lh(22px) C(#333)"><span class="Fw(br)">创建人:</span> {{ app.create_user.username }}</div>
                    <div class="Fz(16px) Lh(22px) C(#333) Maw(300px)" >{{ app.desc }}</div>

                </a>
            {% endfor %}
        </div>
    {% else %}
        <div class="content">No apps are available.</div>
    {% endif %}
{% endblock %}
