<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %} Iframe {% endblock %}</title>
    <script src="https://unpkg.com/lodash"></script>

    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https://unpkg.com/tdesign-vue-next/dist/tdesign.min.css"/>
    <script src="https://unpkg.com/tdesign-vue-next/dist/tdesign.min.js"></script>

    <style>
        :root {
            --component-border: #e7e7e7;
        }

    </style>

    {% block style %}
    {% endblock %}

</head>
<body>

<div id="app">
    {% block content %}

    {% endblock %}
</div>

{% block script %}
{% endblock %}
</body>
</html>